body {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  align-items: center;
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: pink;
  border-radius: 10px;
}

.navbar__icons {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active {
    display: flex;
  }

  .navbar__icons.active {
    display: flex;
  }
}
